{{define "config"}}
    {{template "header" dict "e" $.e}}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>Device: <a href="devices/{{.device.Slug}}">{{.device.Name}}</a></h3>
        </div>
    </div>

    <div class="row controls">
        <div class="col-md-12 column">
            <a href="configs/{{.config.Slug}}?download" class="btn btn-success">Download</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 column">
            <pre>{{.config.Text}}</pre>
        </div>
    </div>

    {{template "footer" dict "e" $.e}}
{{end}}