{{define "device-list"}}
    {{template "header"}}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h4>Device List:</h4>
            <div class="table-responsive">
                <table class="device-list table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>IP Address</th>
                            <th>Protocol</th>
                            <th>Brand</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .devices}}
                        <tr class="clickable-row" data-href="/devices/{{.ID}}">
                            <td>{{.Name}}</td>
                            <td>{{.Address}}</td>
                            <td>{{.Connection}}</td>
                            <td>{{.Brand}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{template "footer"}}
{{end}}