{{define "device-list"}}
    {{template "header"}}

    <div class="row clearfix">
        <div class="col-md-12 column" id="app">
            <div id="controls">
                <button class="btn btn-primary" type="button" id="add-device-btn">Add</button>
            </div>

            {{template "partial-dev-info-form" "add"}}

            {{template "partial-device-list" .devices}}
        </div>
    </div>

    {{template "footer" dict "e" $.e "js" (list "device-list")}}
{{end}}