{{define "device"}}
    {{template "header" dict "e" $.e}}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>{{.device.Name}}</h2>

            <div id="controls">
                <button id="get-config-btn" class="btn btn-success">Get Config</button>
                <button id="edit-device-btn" class="btn btn-primary">Edit</button>
                <button id="delete-device-btn" class="btn btn-danger">Delete</button>
            </div>

            {{template "partial-dev-info-form" dict "mode" "edit" "hidden" ""}}

            {{template "partial-config-list" dict "configs" $.configs "device" $.device}}
        </div>
    </div>

    <script type="application/json" id="device-json">{{.device}}</script>

    {{template "footer" dict "e" $.e "js" (list "device-edit-form" "device")}}
{{end}}