{{define "device"}}
    {{template "header"}}

    <script type="text/x-template" id="config-list-template">
        <div class="table-responsive">
            <table class="config-list table table-striped table-hover">
                <thead>
                    <tr>
                        <th v-for="key in tableCols">${key | capitalize}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in tableData">
                        <td v-for="key in tableCols" v-on:click="gotoConfig(entry['id'])">
                            ${entry[key]}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h4>Configurations:</h4>
            <config-list :table-data="tableData" :table-cols="tableColumns"></config-list>
        </div>
    </div>

    {{template "footer" dict "e" $.e}}
{{end}}