{{define "device"}}
    {{template "header"}}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h4>Configurations:</h4>
            <div class="table-responsive">
                <table class="config-list table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Compressed</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .configs}}
                        <tr class="clickable-row" data-href="/devices/{{$.device.ID}}/{{.ID}}">
                            <td class="col-md-3">{{.Created.String}}</td>
                            <td>{{.ID}}</td>
                            <td>{{.Compressed}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{template "footer"}}
{{end}}