{{define "index"}}
    {{template "header" dict "e" $.e}}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Current Job: <span id="current-status" class="job-idle">Idle</span>
            </h3>
            <div class="progress">
                <div id="status-progress-bar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1">
                </div>
            </div>
            <button type="button" class="btn btn-default" id="startArchiveBtn">Start Archive Job</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 column">
            <h2>Quick Add Device</h2>
        </div>

        <div class="col-md-6 column">
            <h2>Application Logs</h2>
            <table class="table table-striped" id="logs"></table>
        </div>
    </div>

    {{template "footer" dict "e" $.e "js" (list "index")}}
{{end}}