{{define "footer"}}
    </div>
    <footer>
      <div class="container">
        <p class="text-muted">This application is copyright &copy; 2016 University of Southern Indiana. This application is released under the terms of the <a href="https://opensource.org/licenses/BSD-3-Clause" target="_blank">BSD 3-Clause License</a>.</p>
      </div>
    </footer>

    <script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>
{{end}}
