{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>INCA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/styles/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/vendor/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/styles/vendor/toastr.min.css" rel="stylesheet">
    <link href="/static/styles/vendor/js-modals.css" rel="stylesheet">
    <link href="/static/styles/css/styles.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/favicon.png">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">INCA</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Dashboard</a>
                    </li>
                    <li>
                        <a href="/devices">Devices</a>
                    </li>
                    <li>
                        <a href="/types">Device Types</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-success alert-fixed" id="succ-alert" role="alert" style="display:none;">
        <span id="succ-alert-msg"></span>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-danger alert-fixed" id="error-alert" role="alert" style="display:none;">
        <span id="error-alert-msg"></span>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
{{end}}
