{{define "partial-type-list"}}
<div class="table-responsive">
    <table class="type-list table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Connection</th>
                <th>Script</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr class="clickable-row" data-href="/types/{{.Slug}}">
                <td>
                    {{.Name}}
                </td>
                <td>
                    {{.Brand}}
                </td>
                <td>
                    {{.Connection}}
                </td>
                <td>
                    {{.Script}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}